:root {
  --colors-border-secondary: #eaecf0;
  --colors-bg-secondary: #f9fafb;
  --colors-bg-secondary-light: #fdfdfd;
  --colors-text-muted: #667085;
  --colors-text-muted-light: #667085;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--colors-border-secondary);
  background-color: var(--colors-bg-secondary-light);
  border-radius: 12px;
  margin: 100px;
  padding: 100px;
}
